*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #f5f5f5;
}
.btn{
    position: relative;
    width: 200px;
    height: 60px;
    background: #000;
    border-radius: 60px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aqua;
    text-decoration: none;
    letter-spacing: 2px;
    border-top: 0.5px solid rgba(255, 255, 255, 0.5);
    border-left: 0.5px solid rgba(255, 255, 255, 0.5);
    padding-left: 40px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    overflow: hidden;
}

.btn:hover{
    background: #1072ce;
    color: #000;
    transition: 0.5s;
    padding-left: 0px;
    padding-right: 40px;
}

.btn span{
    position: absolute;
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    left: 5px;
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    z-index: 5;
}

.btn:hover span{
    left: calc(100% - 55px);
    transition: 0.5s ease-in-out;
}

.btn::after{
    content: '';
    position: absolute;
    width: 80px;
    height: 100%;
    background: #b41313;
    z-index: 1;
    transform: translateX(-170px) skewX(30deg);
    -webkit-transform: translateX(-170px) skewX(30deg);
    -moz-transform: translateX(-170px) skewX(30deg);
    -ms-transform: translateX(-170px) skewX(30deg);
    -o-transform: translateX(-170px) skewX(30deg);
    transition: 0.75s ease-in-out;
    -webkit-transition: 0.75s ease-in-out;
    -moz-transition: 0.75s ease-in-out;
    -ms-transition: 0.75s ease-in-out;
    -o-transition: 0.75s ease-in-out;
}

.btn:hover::after{
    transform: translateX(170px) skewX(30deg);
    -webkit-transform: translateX(170px) skewX(30deg);
    -moz-transform: translateX(170px) skewX(30deg);
    -ms-transform: translateX(170px) skewX(30deg);
    -o-transform: translateX(170px) skewX(30deg);
    transition: 0.7s ease-in-out;
}